.pageTop {
  position: relative;
  margin: 0px auto 2.5rem;
  max-width: 56rem;
  padding: 1rem;
  --tw-text-opacity: 1;
  color: rgb(23 23 23 / var(--tw-text-opacity));
}
@media (min-width: 768px) {
  .pageTop {
    padding-top: 56px;
  }
}
@media (min-width: 1536px) {
  .pageTop {
    max-width: 64rem;
  }
}
@media (min-width: 2000px) {
  .pageTop {
    max-width: 80rem;
  }
}

body {
  --tw-bg-opacity: 1;
  background-color: rgb(242 245 250 / var(--tw-bg-opacity));
  font-family: Inter, sans-serif;
}

.card {
  margin-top: 30%;
  display: flex;
  max-width: 42rem;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  border-radius: 0.5rem;
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
  padding: 1.25rem;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color),
    0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
}
@media (min-width: 640px) {
  .card {
    margin-top: 2rem;
    flex-direction: row;
    padding: 2.5rem;
  }
}
